button {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    /* width: 10em; */
    display: block;
}

input {
    /* font-size: 2em; */
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    display: block;
}

.question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 60%;
    font-size: 1.5em;
    padding: 1em;
    height: 3em;
    box-sizing: border-box;
    background-color: bisque;
}


#answer {
    height: 6em;
}

#name-syl {
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 2em;
    /* width: 60%; */
    text-align: center;
    /* font-size: 1.5em; */
}